<template>
  <div class="goods-item">
    <img class="left" :src="item.image" alt="商品主图" />
    <div class="middle">
      <p class="name">{{ item.name }}</p>
      <p></p>
      <p class="price">¥{{ item.price }}</p>
    </div>
    <div class="right">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  props: ["item"],
};
</script>
<style lang="scss">
.goods-item {
  padding: 7px;
  display: flex;
  background-color: #fff;
  border-radius: 20px;
  align-items: stretch;
  position: relative;
  .left {
    width: 84px;
    height: 84px;
    margin-right: 15px;
  }
  .middle {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .right {
    position: absolute;
    right: 18px;
    bottom: 7px;
  }
}
</style>
