<template>
  <div class="loading">
    <div class="round"></div>
  </div>
</template>
<script lang="js">
import Vue from "vue";
export default Vue.extend({});
</script>
<style lang="scss" scoped>
.loading {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  .round {
    width: 80px;
    height: 80px;
    border: 6px solid;
    border-radius: 50%;
    border-color: #fff transparent #fff transparent;
    animation: loading 1s linear infinite;
  }
  @keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
</style>
