<template>
  <div v-if="value" class="panel">
    <div class="model">
      <div class="model-title">我是一个没有感情的title</div>
      <div class="model-content">
        <slot></slot>
      </div>
      <div class="model-footer">
        <el-button @click="closeModel">关闭</el-button>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    value: {
      type: Boolean,
      default: false,
    },
  },
  watch: {
    value(val) {
      console.log(111, val);
    },
  },
  methods: {
    closeModel() {
      this.$emit("input", false);
    },
  },
};
</script>
<style scoped>
.panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eee;
}
.model {
  width: 600px;
  height: 400px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  margin: 10px auto;
  background-color: #fff;
}
.model-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  text-align: left;
  font-weight: 600;
}
.model-content {
  height: 260px;
  padding: 20px;
}
.model-footer {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: right;
  font-weight: 600;
}
</style>
