<template>
  <div id="app">
    <el-button @click="openModel">open</el-button>
    <model v-model="flag"> 我是一个自定义组件</model>
  </div>
</template>

<script>
import model from "./../src/compontents/Model";

export default {
  name: "App",
  data() {
    return {
      flag: false,
    };
  },
  components: {
    model,
  },
  methods: {
    openModel() {
      this.flag = true;
    },
  },
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  margin: 0;
  height: 100%;
  width: 100%;
  /* min-height: 800px; */
}
</style>
