<template>
  <div class="home">
    <GoodsItem
      v-slot="_item"
      :item="item"
      v-for="item in lists"
      :key="item._id"
    >
      <div class="cart">
        <img @click="setCart(_item._id)" src="@/assets/cart.png" alt="" />
      </div>
    </GoodsItem>
  </div>
</template>

<script lang="js">
import GoodsItem from "@/components/GoodsItem.vue";
import Vue from "vue";
export default Vue.extend({
  name: "Home",
  components: {
    GoodsItem,
  },
  data() {
    return {
      lists: [],
    };
  },
  methods: {
    getGoodsLists() {
      fetch("https://dahua0822-api.herokuapp.com/goods")
        .then((res) => res.json())
        .then((data) => {
          this.lists = data.data;
        });
    },
    setCart(id) {
      fetch("https://dahua0822-api.herokuapp.com/cart", {
        method: "POST",
        headers: {
          "content-type": "application/json",
        },
        body: JSON.stringify({
          productId: id,
          quantity: 1,
        }),
      });
    },
  },
  created() {
    this.getGoodsLists();
  },
});
</script>
<style>
/* // @plugin '../less.js';
// img {
//   width: vw(84);
//   height: vw(84);
// } */
.home {
  padding-top: 24px;
  padding-left: 25px;
  padding-right: 25px;
}
.home .cart {
  position: relative;
  right: 0;
  top: 20px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  background-color: rgba(255, 230, 148, 1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart img {
  width: 18px;
  height: 18px;
}
</style>